<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://zeolearn.com">
        <h2
          style="font-size:2em;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"
        >
          Advanced Angular
        </h2>
      </a>
    </div>
  </nav>
  <div style="display:flex;">
    <aside class="menu" style="background:lightgray">
      <p class="menu-label">
        Components
      </p>
      <ul class="menu-list">
        <li><a>Communication patterns</a></li>
        <li><a>Scoping Styles</a></li>
        <li><a>Selectors</a></li>
        <li>
          <a routerLink="/components/dynamic" routerLinkActive>Dynamic</a>
        </li>
      </ul>
      <p class="menu-label">
        Pipes
      </p>
      <ul class="menu-list">
        <li><a routerLink="/pipes/custom" routerLinkActive>Custom</a></li>
      </ul>
    </aside>
    <main style="margin:20px">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
