<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://zeolearn.com">
        <h2
          style="font-size:2em;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"
        >
          Advanced Angular
        </h2>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Concepts
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/components">
              Components
            </a>
            <hr class="navbar-divider" />
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
